.Flags {
    text-align: center;
  }
  .flag-icon{
       width: 5em;
       line-height: 5em;
  }
  .correct{
     color:green
  }
  .incorrect{
    color:red
  }

  .link-card {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1px;
    background-color: #23262d;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
}
.link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    border-radius: 8px;
    color: white;
    background-color: #23262d;
    opacity: 0.8;
}
h2 {
    margin: 0;
    text-align: center;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    padding: 15px;
    background-color: #23262d;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    border-radius: 8px;
    color: white;
    opacity: 0.8;
}
p {
    margin-top: 0.5rem;
    margin-bottom: 0;
}
.link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accent-gradient);
    cursor: pointer;
}
.link-card:is(:hover, :focus-within) h2 {
    color: black;
    background-color: transparent;
    cursor: pointer;
}
.link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
}
.instructions {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
    width: 100%;
}
.instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
}
.instructions strong {
    color: rgb(var(--accent-light));
}
.answer {
    display: "flex";
    justify-Content: "center";
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    border-radius: 8px;
}